* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}

.scoller {
    margin: 0 300px;
    position: relative;
    width: 100%;
    display: flex;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

#text {
    margin: 0 auto;
    box-sizing: border-box;
    white-space: nowrap;
    /* width: 100%; */
    letter-spacing: 0.3vw;
    font-weight: 600;
    font-size: 5rem;
}
